// Specific CSS for your home-page


h2{
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  margin-bottom: 12px;
}

p{
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0px;
  font-weight: lighter;
}

h3{
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
}

body{
  position: relative;
  background-color: white;
}
@media (min-width: 100px) and (max-width: 575px) {
  .main-container{
    position: relative;
    width: 95%;
    margin: 12px auto;
  }
  h2{
    font-size: 16px;
    margin-bottom: 6px;
  }

  p{
    margin-bottom: 0px;
    font-size: 8px;
  }

  h3{
    font-size: 12px;
  }
}

@media (min-width: 576px) {
  .main-container{
    position: relative;
    width: 95%;
    margin: 18px auto;
  }
  h2{
    font-size: 16px;
    margin-bottom: 6px;
  }

  p{
    margin-bottom: 0px;
    font-size: 10px;
  }

  h3{
    font-size: 12px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main-container{
    position: relative;
    width: 95%;
    margin: 24px auto;
  }
  h2{
    font-size: 18px;
    margin-bottom: 8px;
  }

  p{
    margin-bottom: 0px;
    font-size: 12px;
  }

  h3{
    font-size: 16px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .main-container{
    position: relative;
    width: 95%;
    margin: 28px auto;
  }
  h2{
    font-size: 20px;
    margin-bottom: 10px;
  }

  p{
    margin-bottom: 0px;
    font-size: 14px;
  }

  h3{
    font-size: 18px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .main-container{
    position: relative;
    width: 70%;
    margin: 28px auto;
  }
  h2{
    font-size: 24px;
    margin-bottom: 12px;
  }

  p{
    margin-bottom: 0px;
    font-size: 16px;
  }

  h3{
    font-size: 20px;
  }
}
