// Specific CSS for your home-page
.main-container{
  position: relative;
  width: 70%;
  margin: 28px auto;
}

.transaction-info{
}
h2{
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

p{
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: lighter;
}

h3{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}
