
.show-slick{
  margin: 0 auto;
  display: grid;
  place-items: center;
}

.transaction-body{
  margin: 70px 0px;
}

.transaction-info{
  padding-top: 4px;
  h3{
    display: flex;
    align-items: center;
    border-top: 2px solid black;
    height: 46px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 0px;
    padding-left: 8px;
  }
  p{
    display: flex;
    align-items: center;
    height: 46px;
    padding: 12px 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-left: 8px;
    padding-right: 8px;
  }
}

.price{
  display: flex;
  justify-content: space-between;
}

.show-details{
  position: relative;
  text-align: center;
  margin: 12px 0px;
  img{
    margin-top: 24px;
  }
  &:hover{
    .edit-btn{
      transition: 1s;
      border-radius: 50%;
    }
    .clothe-edit{
      visibility: visible;
    }
  }
}

.clothe-details{
  margin-bottom: 50px;
  width: 90%;
  margin: 0 auto;
  h2{
    text-align: center;
    padding-bottom: 12px;
    margin-bottom: 24px;
    border-bottom: 1px solid black;
  }
  p{
    color: #474747;
  }
}

.clothe-edit{
  position: absolute;
  right: 50%;
  top: 50%;
  visibility: hidden;
}

.detail-image{
  height: 100%;
  width: 50vw;
  object-fit: cover;
}


@media (min-width: 100px) and (max-width: 575px) {
  .transaction-body{
    display: block;
  }
  .transaction-info{
    h3{
      font-size: 18px;
    }
    p{
      font-size: 14px;
    }
  }
  .show-slick{
    height: 30%;
    width: 100%;
  }
  .show-img{
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .transaction-body{
      display: block;
    }
  .show-img{
   margin: 0 auto;
  }
  .show-slick{
    height: 30%;
    width: 100%;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .transaction-body{
      display: block;
    }
  .show-img{
   margin: 0 auto;
  }
    .transaction-info{
    h3{
      font-size: 20px;
    }
    p{
      font-size: 16px;
    }
  }
  .show-slick{
    width: 100%;
    height: 60%;
  }
  .show-img{
    height: 60vh;
    width: 100%;
    object-fit: cover;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .transaction-info{
    margin-left: 20px;
    flex-grow: 1;
  }
  .transaction-body{
    display: flex;
  }
  .show-slick{
    width: 50%;
    height: 40%;
  }
  .show-img{
    height: 60vh;
    width: 100%;
    object-fit: cover;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .transaction-body{
    display: flex;
  }

  .transaction-info{
    margin-left: 80px;
    flex-grow: 1;
  }
  .show-slick{
    width: 50%;
    height: 40%;
  }
  .show-img{
    height: 70vh;
    width: 100%;
    object-fit: cover;
  }

}
