<div class="main-container">
  <% @baskets.each do |basket| %>
    <h3>Transaction #<%= basket.id %></h3>
    <ul class="list-unstyled">
      <li><p><strong>Issued on:</strong> <%= basket.created_at.to_date %></p></li>
    </ul>
    <%= render "payments/table", basket: basket %>
  <% end %>
</div>
