<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators mb-0">
    <% i = 0 %>
    <% clothe.photos.count.times do  %>
      <% if i = 0 %>
        <li data-target="#carouselExampleIndicators" data-slide-to="<%=i%>" class="active"></li>
      <% else %>
        <li data-target="#carouselExampleIndicators" data-slide-to="<%=i%>"></li>
      <% end %>
      <% i += 1 %>
    <% end %>
  </ol>
  <div class="carousel-inner">
    <% clothe.photos.each do |photo| %>
      <% if clothe.photos.first == photo %>
        <div class="carousel-item active">
          <%= cl_image_tag photo.key, class: "card-img" %>
        </div>
      <% else %>
        <div class="carousel-item">
          <%= cl_image_tag photo.key, class: "card-img" %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
