<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% clothe.photos.each do |photo| %>
      <% if clothe.photos.first == photo %>
        <div class="carousel-item active">
          <%= cl_image_tag photo.key, class: "card-img" %>
        </div>
      <% else %>
        <div class="carousel-item">
          <%= cl_image_tag photo.key, class: "card-img" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
