.dropdown-menu{
  z-index: 3;
}

.dropdown{
  .dropdown-toggle{
    background-color: white;
    height: 100%;
    padding: 0px;
  }
  button{
    border: none;
    &:focus {
    outline: 0px auto -webkit-focus-ring-color;
    }
  }
}
.dropdown-toggle::after{
  content: none;
}

@media (min-width: 100px) and (max-width: 575px) {
  .dropdown-menu{
    padding: 4px;
  }

}

@media (min-width: 576px) {
  .dropdown-menu{
    padding: 6px;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .dropdown-menu{
    padding: 12px;
  }

}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .dropdown-menu{
    padding: 12px;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .dropdown-menu{
    padding: 12px;
  }

}
