#transaction_size{
  width: 72px;
  height: 32px;
}
#transaction_quantity, #clothe_price{
  width: 72px;
  height: 32px;
}

#transaction_color, #clothe_category{
  width: 90px;
  height: 32px;
}

#clothe_name, #clothe_sku{
  width: 150px;
}

#clothe_description{
  width: 150px;
}

#new_transaction{
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  padding: 12px 0px;
}

.form-group:not(.clothe_photos){
  position: relative;
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
}

.invalid-feedback{
  position: absolute;
  bottom: -10px;
  right: -9px;
}

.devise-form{
  width: 40%;
  margin: 28px auto;
  border: 1px solid #E7E7E7;
  border-radius: 2px;
  padding: 12px;
  .form-control{
    position: relative;
    width: 50%;
  }
}
.text-muted{
  position: absolute;
  right: 0px;
  bottom: -16px;
}
