.payment-table{
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 12px;
}

th{
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

table{
  text-align: center;
  position: relative;
}

tbody{
  td{
    height: 100px;
    position: relative;
    img{
      height: 90px;
      width: 68px;
      object-fit: cover;
    }
  }
}

tfoot{
  td{
    width: 100%;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    text-align: right;
  }
}

.payment-table{
  #transaction_quantity{
    text-align: center;
    border-radius: 2px
  }
  .edit_transaction{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .payment-table{
    #transaction_quantity{
      margin-right: 2px;
      width: 18px;
      height: 18px;
    }
  }
}

@media (min-width: 576px) {
  .payment-table{
    #transaction_quantity{
      margin-right: 4px;
      width: 16px;
      height: 16px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .payment-table{
    #transaction_quantity{
      margin-right: 4px;
      width: 24px;
      height: 24px;
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .payment-table{
    #transaction_quantity{
      margin-right: 4px;
      width: 28px;
      height: 28px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .payment-table{
    #transaction_quantity{
      margin-right: 4px;
      width: 32px;
      height: 32px;
    }
  }
}
























































