<div class="show-details" data-detail-id=<%= detail.id %>>
  <p><%= simple_format(detail.information) %></p>
  <% if detail.photo.attached? %>
    <%= cl_image_tag detail.photo.key, class: "detail-image" %>
  <% end %>
  <div class="clothe-edit">
    <% if current_user.present? && current_user.admin %>
      <%= link_to "Delete", detail_path(detail),
        method: :delete,
        remote: true,
        data: { confirm: "Are you sure?" },
        class: "edit-btn"
      %>
    <% end %>
  </div>
</div>
